
/* ---------- globals ---------- */

#amnezic {
  --header-height: 70px;
  --header-brand-width: 100px;
  --header-link-width: 100px;
  --header-nav-width: 100px;
  --color-grey: #d1d8e0;
  --color-black: black;
  --color-white: white;
  --color-red: #fc5c65;
  --color-green: #26de81;
  --color-blue: #45aaf2;
  --color-yellow: #fed330;
}

/* ---------- font ---------- */

body {
  font-family: 'Lalezar', cursive;
  font-family: 'Rubik', sans-serif;
  font-family: 'Bungee', cursive;
  font-family: 'Roboto', sans-serif;
}

/* ---------- skeleton ---------- */

body, html, #amnezic, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ---------- navbar ---------- */
/*
.navbar {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand {
  width: var(--header-brand-width);
  height: 100%;
  line-height: var(--header-height);
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.navbar .navbar-items {
  width: calc( 100% - var(--header-brand-width) - var(--header-nav-width) );
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.navbar .navbar-item {
  width: auto;
  height: var(--header-height);
  line-height: var(--header-height);
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.navbar .navbar-nav {
  width: var(--header-nav-width);
  height: var(--header-height);
  line-height: var(--header-height);
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.navbar .button {
  color: white !important;
}
*/

.navbar .navbar-brand {
  display: inline-block;
}

.navbar .navbar-items {
  display: inline-block;
  list-style: none;
}

.navbar .navbar-item {
  margin-right: 10px;
  display: inline-block;
}

.navbar .navbar-nav {
  display: inline-block;
}

.button {
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #bbb;
  text-decoration: none;
}

.button .button-icon {
  /* margin-right: 10px; */
}

.button.activated {
  background-color: rgba(255,255,255,0.2);
	border: 1px solid white;
}

.button.enabled:hover {
  /*
  background-color: rgba(255,255,255,0.2);
  -webkit-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  */
  border: 1px solid white;
	/*
  -webkit-box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
  box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
	*/
  z-index: 9999;
  cursor: pointer;
}

.button.disabled {
  opacity: 0.2;
}

/* ========================= alert ========================= */

.alert {
	width: auto;
	border-radius: 6px;
  border: 1px solid #eee;
  padding: 10px 20px;
	margin: auto;
}

.alert-info    { color: white; background-color: var( --color-green ); }
.alert-warning { color: white; background-color: var( --color-red ); }

/* ========================= page-players ========================= */

.page-players .player {
  border-radius: 6px;
  border: 1px solid #eee;
	background: #eee;
  padding: 10px 0px;
  margin: 10px;
}

.page-players .player .player-card {
	text-align: center;
}

.page-players .player-with-card .player-card .card {
  /* background-color: var( --color-green ); */
}

.page-players .player-without-card .player-card .card {
  background-color: var( --color-red );
}

/*
.players {
  width: 100%;
  height: 100%;
  text-align: left;
}

.players .player {
  width: calc( 50% - 42px );
  height: 110px;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
}

.players .player .player-card {
  float: left;
  width: 100px;
  height: 100%;
  display: inline-block;
}

.players .player .player-info {
  width: calc( 100% - 100px );
  height: 100%;
  display: inline-block;
  text-align: left;
}

.players .player {
  color: black;
}

.player-inactive .player-id,
.player-inactive .player-name,
.player-inactive .player-score {
  color: grey;
}

.player-inactive .player-card {
  opacity: 0.2;
}

.players .player.active.correct .player-status {
  color: green;
}

.players .player.active.incorrect .player-status {
  color: red
}

.players .player-add {
  text-align: center;
  color: black;
  background: white;
  height: 110px;
  line-height: 110px;
}

.players .player-add:hover {
  cursor: pointer;
  background: #eee;
}

*/

/* ---------- choice ---------- */

.choice {
  cursor: pointer;
  padding: 20px;
  margin: 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  /*background-*/color: #7f8c8d;
  /*color: white;*/
}

.choice.correct .answer,
.choice.correct .hint {
  /*background-*/color: var(--color-green);
}

.choice.incorrect .answer,
.choice.incorrect .hint, {
  /*background-*/color: var(--color-red);
}

.choice .cards {
  float: right;
  width: auto;
  text-align: right;
}

/* ---------- player score ---------- */

.scores .player {
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: auto 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  background-color: white;
  color: black;
}

.scores .player.rank-1 {
  /*background-*/color: #f1c40f;
}

.scores .player.rank-2 {
  /*background-*/color: #bdc3c7;
}

.scores .player.rank-3 {
  /*background-*/color: #d35400;
}
