
/* ---------- globals ---------- */

#amnezic {
  --header-height: 70px;
  --header-brand-width: 100px;
  --header-link-width: 100px;
  --header-nav-width: 100px;
  --color-grey: #d1d8e0;
  --color-black: black;
  --color-white: white;
  --color-red: #fc5c65;
  --color-green: #26de81;
  --color-blue: #45aaf2;
  --color-yellow: #fed330;
}

/* ---------- font ---------- */

body {
  font-family: 'Lalezar', cursive;
  font-family: 'Rubik', sans-serif;
  font-family: 'Bungee', cursive;
  font-family: 'Roboto', sans-serif;
}

/* ---------- skeleton ---------- */

body, html, #amnezic, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page .page-header {
  width: 100%;
  height: var(--header-height);
  margin: 0;
  padding: 0;
  /* border: 1px solid #eee; */
  color: white;
  background-color: rgba(0,0,0,0.2);
}

.page .page-content {
  width: 100%;
  height: calc( 100% - 100px );
  margin: 0;
  padding: 0;
  /* border: 1px solid #eee; */
}

.page .page-footer {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  /* border: 1px solid #eee; */
  color: white;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

/* ---------- navbar ---------- */

.navbar {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand {
  width: var(--header-brand-width);
  height: 100%;
  line-height: var(--header-height);
  margin: auto;
  /* padding-top: 20px; */
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.navbar .navbar-items {
  width: calc( 100% - var(--header-brand-width) - var(--header-nav-width) );
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.navbar .navbar-item {
  /* width: var(--header-link-width); */
  width: auto;
  height: var(--header-height);
  line-height: var(--header-height);
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.navbar .navbar-nav {
  width: var(--header-nav-width);
  height: var(--header-height);
  line-height: var(--header-height);
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.navbar .button {
  color: white !important;
}

.button {
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #bbb;
  text-decoration: none;
}

.button .button-icon {
  margin-right: 10px;
}

.button.activated {
  background-color: rgba(255,255,255,0.2);
}

.button.enabled:hover {
  /*
  background-color: rgba(255,255,255,0.2);
  -webkit-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  */
  border: 1px solid white;
  /*
  -webkit-box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
  box-shadow: 2px 2px 20px 0px rgba(255,255,255,0.2);
  */
  z-index: 9999;
  cursor: pointer;
}

.button.disabled {
  opacity: 0.2;
}

/* ---------- players ---------- */

.players {
  width: 100%;
  height: 100%;
}

.players .player {
  width: 50%;
  height: 20%;
  display: inline-block;
}

.players .player {
  color: black;
}

.players .player.inactive .status {
  color: grey;
}

.players .player.active.valid .status {
  color: green;
}

.players .player.active.invalid .status {
  color: red
}

/* ---------- choice ---------- */

.choice {
  cursor: pointer;
  padding: 20px;
  margin: 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  /*background-*/color: #7f8c8d;
  /*color: white;*/
}

.choice.correct .answer,
.choice.correct .hint {
  /*background-*/color: var(--color-green);
}

.choice.incorrect .answer,
.choice.incorrect .hint, {
  /*background-*/color: var(--color-red);
}

.choice .cards {
  float: right;
  width: auto;
  text-align: right;
}

/* ---------- player score ---------- */

.scores .player {
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: auto 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  background-color: white;
  color: black;
}

.scores .player.rank-1 {
  /*background-*/color: #f1c40f;
}

.scores .player.rank-2 {
  /*background-*/color: #bdc3c7;
}

.scores .player.rank-3 {
  /*background-*/color: #d35400;
}
