
/* ---------- globals ---------- */

#amnezic {
  --header-height: 70px;
  --header-brand-width: 100px;
  --header-link-width: 100px;
  --header-nav-width: 100px;
}

/* ---------- skeleton ---------- */

body, html, #amnezic, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Oswald;
}

.page .page-header {
  width: 100%;
  height: var(--header-height);
  margin: 0;
  padding: 0;
  /* border: 1px solid #eee; */
  color: white;
  background-color: rgba(0,0,0,0.2);
}

.page .page-content {
  width: 100%;
  height: calc( 100% - 100px );
  margin: 0;
  padding: 0;
  /* border: 1px solid #eee; */
}

.page .page-footer {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  /* border: 1px solid #eee; */
  color: white;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

/* ---------- navbar ---------- */

.navbar {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand {
  width: var(--header-brand-width);
  height: 100%;
  line-height: var(--header-height);
  margin: auto;
  /* padding-top: 20px; */
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.navbar .navbar-items {
  width: calc( 100% - var(--header-brand-width) - var(--header-nav-width) );
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.navbar .navbar-item {
  /* width: var(--header-link-width); */
  width: auto;
  height: var(--header-height);
  line-height: var(--header-height);
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.navbar .navbar-link {
  padding: 5px 15px;
  display: inline-block;
  line-height: normal;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
  color: white !important;
  text-decoration: none;
}

.navbar .navbar-link .icon {
  /* margin-right: 10px; */
}

.navbar .navbar-link.active {
  background-color: rgba(255,255,255,0.2);
}

.navbar .navbar-link.enabled:hover {
  background-color: rgba(255,255,255,0.2);
  -webkit-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  -webkit-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.3);
  z-index: 9999;
  cursor: pointer;
}

.navbar .navbar-link.disabled {
  opacity: 0.2;
}

.navbar .navbar-nav {
  width: var(--header-nav-width);
  height: var(--header-height);
  line-height: var(--header-height);
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/* ---------- choice ---------- */

.choice {
  cursor: pointer;
  padding: 20px;
  margin: 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  /*background-*/color: #7f8c8d;
  /*color: white;*/
}

.choice.correct {
  /*background-*/color: #1abc9c;
}

.choice.incorrect {
  /*background-*/color: #e67e22;
}

/* ---------- card ---------- */

.cards {
  float: right;
  width: auto;
  text-align: right;
}

.card.selected,
.card.not-selectable {
  opacity: 0.2;
}

.card.selected-by-player {
  background-color: gold !important;
}

.card.selectable:hover {
  background-color: grey !important;
}

.card {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: auto 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  background-color: white;
  color: black;
}

.card.correct {
  /*background-*/color: #1abc9c;
}

.card.incorrect {
  /*background-*/color: #e67e22;
}

/* ---------- selected card ---------- */

.selected_card {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: auto 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  background-color: white;
  color: black;
}

.selected_card.correct {
  /*background-*/color: #1abc9c;
}

.selected_card.incorrect {
  /*background-*/color: #e67e22;
}

/* ---------- player score ---------- */

.scores .player {
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: auto 2px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  background-color: white;
  color: black;
}

.scores .player.rank-1 {
  /*background-*/color: #f1c40f;
}

.scores .player.rank-2 {
  /*background-*/color: #bdc3c7;
}

.scores .player.rank-3 {
  /*background-*/color: #d35400;
}

/* ---------- cards ---------- */

.card {
  /*
  width: 6em;
  height: 8.5em;
  padding: .25em 0;
  border: solid 1px #999;
  -moz-border-radius: .5em;
  border-radius: .5em;
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: left;
  -webkit-box-align: baseline;
  */
}

/* card symbols */

.card.suit-club .rank:after,
.card.suit-tarot-club .rank:after {
  content: " ♣";
}

.card.suit-spade .rank:after,
.card.suit-tarot-spade .rank:after {
  content: " ♠";
}

.card.suit-heart .rank:after,
.card.suit-tarot-heart .rank:after {
  content: " ♥";
}

.card.suit-diamond .rank:after,
.card.suit-tarot-diamond .rank:after {
  content: " ♦";
}

.card.suit-tarot-trump .rank:after {
  content: " ★";
}

.card.suit-uno-red .rank:after,
.card.suit-uno-yellow .rank:after,
.card.suit-uno-green .rank:after,
.card.suit-uno-blue .rank:after {
  content: " ⚫";
}

/* card colors */

.card,
.card.suit-club,
.card.suit-tarot-club,
.card.suit-spade,
.card.suit-tarot-spade,
.card.suit-tarot-trump {
  background: white;
  color: black;
}

.card.suit-heart,
.card.suit-tarot-heart,
.card.suit-diamond,
.card.suit-tarot-diamond {
  background: white;
  color: red;
}

.card.suit-uno-red {
  color: white;
  /* background-*/color: red;
}

.card.suit-uno-yellow {
  color: white;
  /* background-*/color: yellow;
}

.card.suit-uno-green {
  color: white;
  /* background-*/color: green;
}

.card.suit-uno-blue {
  color: white;
  /* background-*/color: blue;
}
